<div class="fixed-action-btn">

</div>
<style>
    .btn-grads {background-image: linear-gradient(to right, #c300ff 0%, #ff00d4  51%, #8c00ff  100%)}
         .btn-grads {
            margin: 10px;
            padding: 10px 10px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
          }
</style>