<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <style>
      .blacks{
      background-color: black;
      font-family: Montserrat;
      color:white;
  }
  </style>
  
<nav class="blacks darken-3">
    <div class="nav-wrapper container">

        <a href="/stories" class="brand-logo left maint">SPACESURF</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large right"><i class="fas fa-bars"></i></a>
        
        
        <ul class="sidenav w3-black w3-text-white" id="mobile-demo">
            <li><a href="/stories"><h4 class="w3-text-white">Home</h4></a></li>
            <li><a href="/dashboard"><h4 class="w3-text-white">Profile</h4></a></li>
            <li><a href="/auth/logout"><h4 class="w3-text-white">Logout</h4></a></li>
            
        </ul>
    </div>
</nav>