<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#020202">

	<meta name="msapplication-navbutton-color" content="#020202">

	<meta name="apple-mobile-web-app-status-bar-style" content="#020202">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.7.3/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
    
</head>
    <style>
        p {
  margin: 10px 0 !important;
}
.login-container {
  width: 350px;
  text-align: center;
	font-family: DM Sans;
	border-radius: 20px;
}
.fa-small {
  font-size: 16px !important;
}
.btn-float {
  float: left;
  margin-right: 10px;
}
.img-small {
  width: 180px;
}
</style>
<body class="flex h-screen bg-black">
    <div class="w-full max-w-xs m-auto bg-black rounded p-5 w3-center w3-small">



      <svg width="280" height="530" viewBox="0 0 513 530" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="513" height="530" fill="url(#paint0_linear)"/>
<path d="M98 439.5L257 91V392L98 439.5Z" fill="url(#paint1_linear)"/>
<path d="M416 439L257 90V391.432L416 439Z" fill="url(#paint2_linear)"/>
<path d="M416 439L257 90V391.432L416 439Z" fill="url(#paint3_linear)"/>
<path d="M84.2516 271.883C84.2516 274.93 83.0562 277.289 80.6656 278.961C78.2906 280.633 74.9391 281.469 70.6109 281.469C62.5641 281.469 57.9 278.672 56.6187 273.078L60.9547 272.211C61.4547 274.195 62.5172 275.656 64.1422 276.594C65.7672 277.516 67.9781 277.977 70.775 277.977C73.6656 277.977 75.8922 277.484 77.4547 276.5C79.0328 275.5 79.8219 274.039 79.8219 272.117C79.8219 271.039 79.5719 270.164 79.0719 269.492C78.5875 268.82 77.9 268.266 77.0094 267.828C76.1187 267.391 75.0562 267.023 73.8219 266.727C72.5875 266.43 71.2203 266.109 69.7203 265.766C67.1109 265.188 65.1266 264.609 63.7672 264.031C62.4234 263.453 61.3609 262.812 60.5797 262.109C59.7984 261.391 59.1969 260.555 58.775 259.602C58.3687 258.648 58.1656 257.555 58.1656 256.32C58.1656 253.492 59.2437 251.312 61.4 249.781C63.5719 248.25 66.6734 247.484 70.7047 247.484C74.4547 247.484 77.3219 248.062 79.3062 249.219C81.2906 250.359 82.6812 252.312 83.4781 255.078L79.0719 255.852C78.5875 254.102 77.6656 252.836 76.3062 252.055C74.9469 251.258 73.0641 250.859 70.6578 250.859C68.0172 250.859 66.0016 251.297 64.6109 252.172C63.2203 253.047 62.525 254.352 62.525 256.086C62.525 257.102 62.7906 257.945 63.3219 258.617C63.8687 259.273 64.65 259.836 65.6656 260.305C66.6812 260.758 68.7047 261.32 71.7359 261.992C72.7516 262.227 73.7594 262.469 74.7594 262.719C75.775 262.953 76.7437 263.242 77.6656 263.586C78.5875 263.914 79.4469 264.305 80.2437 264.758C81.0562 265.211 81.7594 265.766 82.3531 266.422C82.9469 267.078 83.4078 267.852 83.7359 268.742C84.0797 269.633 84.2516 270.68 84.2516 271.883ZM130.339 257.914C130.339 261.039 129.316 263.523 127.269 265.367C125.237 267.211 122.472 268.133 118.972 268.133H109.269V281H104.792V247.977H118.691C122.394 247.977 125.261 248.844 127.292 250.578C129.323 252.312 130.339 254.758 130.339 257.914ZM125.839 257.961C125.839 253.695 123.277 251.562 118.152 251.562H109.269V264.594H118.339C123.339 264.594 125.839 262.383 125.839 257.961ZM171.059 281L167.286 271.344H152.239L148.442 281H143.802L157.278 247.977H162.364L175.63 281H171.059ZM159.762 251.352L159.552 252.008C159.161 253.305 158.583 254.969 157.817 257L153.598 267.852H165.95L161.708 256.953C161.27 255.875 160.833 254.656 160.395 253.297L159.762 251.352ZM208.686 251.141C205.03 251.141 202.186 252.32 200.155 254.68C198.123 257.023 197.108 260.242 197.108 264.336C197.108 268.383 198.162 271.641 200.272 274.109C202.397 276.562 205.264 277.789 208.873 277.789C213.498 277.789 216.975 275.5 219.303 270.922L222.959 272.75C221.6 275.594 219.686 277.758 217.217 279.242C214.764 280.727 211.912 281.469 208.662 281.469C205.334 281.469 202.452 280.781 200.014 279.406C197.592 278.016 195.741 276.039 194.459 273.477C193.194 270.898 192.561 267.852 192.561 264.336C192.561 259.07 193.983 254.945 196.827 251.961C199.67 248.977 203.608 247.484 208.639 247.484C212.155 247.484 215.092 248.172 217.452 249.547C219.811 250.922 221.545 252.961 222.655 255.664L218.412 257.07C217.647 255.148 216.412 253.68 214.709 252.664C213.022 251.648 211.014 251.141 208.686 251.141ZM243.148 281V247.977H268.203V251.633H247.625V262.227H266.797V265.836H247.625V277.344H269.164V281H243.148ZM315.439 271.883C315.439 274.93 314.244 277.289 311.853 278.961C309.478 280.633 306.127 281.469 301.798 281.469C293.752 281.469 289.087 278.672 287.806 273.078L292.142 272.211C292.642 274.195 293.705 275.656 295.33 276.594C296.955 277.516 299.166 277.977 301.962 277.977C304.853 277.977 307.08 277.484 308.642 276.5C310.22 275.5 311.009 274.039 311.009 272.117C311.009 271.039 310.759 270.164 310.259 269.492C309.775 268.82 309.087 268.266 308.197 267.828C307.306 267.391 306.244 267.023 305.009 266.727C303.775 266.43 302.408 266.109 300.908 265.766C298.298 265.188 296.314 264.609 294.955 264.031C293.611 263.453 292.548 262.812 291.767 262.109C290.986 261.391 290.384 260.555 289.962 259.602C289.556 258.648 289.353 257.555 289.353 256.32C289.353 253.492 290.431 251.312 292.587 249.781C294.759 248.25 297.861 247.484 301.892 247.484C305.642 247.484 308.509 248.062 310.494 249.219C312.478 250.359 313.869 252.312 314.666 255.078L310.259 255.852C309.775 254.102 308.853 252.836 307.494 252.055C306.134 251.258 304.252 250.859 301.845 250.859C299.205 250.859 297.189 251.297 295.798 252.172C294.408 253.047 293.712 254.352 293.712 256.086C293.712 257.102 293.978 257.945 294.509 258.617C295.056 259.273 295.837 259.836 296.853 260.305C297.869 260.758 299.892 261.32 302.923 261.992C303.939 262.227 304.947 262.469 305.947 262.719C306.962 262.953 307.931 263.242 308.853 263.586C309.775 263.914 310.634 264.305 311.431 264.758C312.244 265.211 312.947 265.766 313.541 266.422C314.134 267.078 314.595 267.852 314.923 268.742C315.267 269.633 315.439 270.68 315.439 271.883ZM349.175 281.469C346.472 281.469 344.112 280.977 342.097 279.992C340.081 279.008 338.519 277.578 337.409 275.703C336.3 273.828 335.745 271.594 335.745 269V247.977H340.222V268.625C340.222 271.641 340.987 273.93 342.519 275.492C344.05 277.055 346.261 277.836 349.152 277.836C352.12 277.836 354.425 277.031 356.066 275.422C357.722 273.797 358.55 271.43 358.55 268.32V247.977H363.003V268.578C363.003 271.25 362.433 273.555 361.292 275.492C360.167 277.43 358.566 278.914 356.487 279.945C354.425 280.961 351.987 281.469 349.175 281.469ZM408.411 281L399.833 267.289H389.544V281H385.067V247.977H400.606C404.325 247.977 407.192 248.812 409.208 250.484C411.239 252.141 412.255 254.453 412.255 257.422C412.255 259.875 411.536 261.938 410.098 263.609C408.677 265.281 406.708 266.336 404.192 266.773L413.567 281H408.411ZM407.755 257.469C407.755 255.547 407.098 254.086 405.786 253.086C404.489 252.07 402.614 251.562 400.161 251.562H389.544V263.75H400.348C402.708 263.75 404.528 263.203 405.809 262.109C407.106 261 407.755 259.453 407.755 257.469ZM438.631 251.633V263.914H457.053V267.617H438.631V281H434.155V247.977H457.616V251.633H438.631Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="11" y1="546" x2="513" y2="-2.81858e-05" gradientUnits="userSpaceOnUse">
<stop/>
</linearGradient>
<linearGradient id="paint1_linear" x1="177.5" y1="91" x2="177.5" y2="439.5" gradientUnits="userSpaceOnUse">
<stop stop-color="#0094FF"/>
<stop offset="1" stop-color="#C000DF"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="336.5" y1="90" x2="336.5" y2="439" gradientUnits="userSpaceOnUse">
<stop stop-color="#005FCE"/>
<stop offset="1" stop-color="#5800B0"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="429" y1="425.5" x2="75" y2="362.5" gradientUnits="userSpaceOnUse">
<stop stop-color="#430062"/>
<stop offset="1" stop-color="#CC00FF" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>

{{{body}}}

    </div>

<script>
  AOS.init();
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>

</html>