<title>Spacesurf</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
	h3, p, a, button{
		font-family: Montserrat;
	}
              .btn-grad {background-image: linear-gradient(to right, #c300ff 0%, #ff00d4  51%, #8c00ff  100%)}
         .btn-grad {
            margin: 10px;
            padding: 8px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 5px;
            display: block;
          }
          .btn-grad:hover {
            background-position: right center;
            color: rgb(255, 255, 255);
            text-decoration: none;
          }
     
</style>


        

<div class="section">
    <a href="/auth/google" class="">
        <button class="w-full btn-grad py-2 px-4 mb-6 rounded" type="submit">Login with Google</button>
    </a>
</div>