<title>Spacesurf</title>
<style>
body{
      background-color: black;
      color: white;
    }
    textarea{
      font-family: Montserrat;
    }
         .btn-grad {background-image: linear-gradient(to right, #c300ff 0%, #ff00d4  51%, #8c00ff  100%)}
         .btn-grad {
            margin: 10px;
            padding: 8px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 5px;
            display: block;
          }
          .btn-grad:hover {
            background-position: right center;
            color: rgb(255, 255, 255);
            text-decoration: none;
          }
</style>

    

<a class="w3-left btn-grad" href="/stories">Feed</a>
<a class="w3-right btn-grad" href="/dashboard">Profile</a>
<a class="w3-right btn-grad" href="/auth/logout">Logout</a>

<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field w3-text-white">
                <input class="w3-text-white" type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field w3-black w3-text-white">
                <h5>Add new</h5>
                <textarea class="w3-black w3-text-white" id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn blue">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div>